body{
background: url("gray-background.jpg") no-repeat center center fixed;
margin: 7% 20%;
color:#151B54;

}

.logoh1{
text-align:center;
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.logoh4{
text-align:center;
font-style:italic;
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.formcontent{
padding:1%;
}

.return{
position:absolute;
bottom:10px;
text-align: center;

}

label.posttitle{
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
font-size: 16px;
}

label.postcontent{
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
font-size: 16px;
}
input.title{
font-size: 20px;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-weight: bold;
color:#151B54;
}
textarea.content{
font-size: 16px;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
color:#151B54;

}

hr.thick{
height: 5px;
background-color:#151B54;
}

a.bloglink{
font-style: italic;
font-weight: bold;
font-size: 22px;
}

.owner{
font-weight: bold;
font-size: 18px;
}

.footer{
position:absolute;
bottom:5px;
}

.space{
margin-left:2em;
float:left;
}

ol{
width: 90%;
}

li{
}

h1{
text-align: center;
border: 1 px solid black;
}

#header{

}

#login_form{

}

.etitle{
text-align: center;
}

e.text{
padding: 5px;
font-size: 14px;
}

.etime{
width: 45%;
}

.ecomments{
width: 45%
}


.center{
    margin: auto;
    width: 70%;
}
