body{
ackground: url("gray-background.jpg") no-repeat center center fixed;
margin: 7% 20%;
color:#151B54;
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.logoh1{
text-align:center;	
}

.logoh4{
text-align:center;
font-style:italic;
}

.formcontent{
padding:1%;
}

a.bloglink{
font-style: italic;
font-weight: bold;
font-size: 22px;
}

.owner{
font-weight: bold;
font-size: 18px;
}

.footer{
position:absolute;
bottom:5px;
}

.space{
margin-left:2em;
float:left;
}

ol{
width: 90%;
}

li{
}

h1{
text-align: center;
border: 1 px solid black;
}

#header{

}

#login_form{

}

.etitle{
text-align: center;
}

e.text{
padding: 5px;
font-size: 14px;
}

.etime{
width: 45%;
}

.ecomments{
width: 45%
}


.center{
    margin: auto;
    width: 70%;
}
