body{
margin-top: 7%;
margin-right:3%;
margin-left:3%;
background: url("http://www.dream-wallpaper.com/free-wallpaper/art-wallpaper/background-color-3-wallpaper/1920x1200/free-wallpaper-14.jpg") no-repeat center center fixed;
}

.formcontent{
padding:1%;
}

.logoh1{
text-indent:38%;
}

.logoh4{
font-style:italic;
text-indent:50%;
}
